html {
	scroll-behavior: smooth;
}
body {
	padding: 0;
	padding-top: 59px;
	margin: 0;
	font-family: roboto, sans-serif;
}
header {
	display: flex;
	background-color: lightblue;
	position: fixed;
	width: 100%;
	top: 0;
}
header h1 {
	margin: 0px;
	align-self: center;
	width: 50%;
}
nav {
	width: 50%;
}
nav ul {
	display: flex;
	list-style-type: none;
	padding: 10px;
	margin: 0;
}
nav ul li {
	margin: 10px 10px;
}
#banner {
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-position: ;
	width: 100%;
	height: 100vh;
}
.exp1 div,
article {
	display: inline-block;
	width: 49%;
}
.exp1 .img {
	background-image: url(../img/exp-1.jpg);
	background-size: cover;
	background-position: center;
	height: 300px;
}

.exp2 div,
article {
	display: inline-block;
	width: 49%;
}
.exp2 .img {
	background-image: url(../img/exp-2.jpg);
	background-size: cover;
	background-position: center;
	height: 300px;
}
section {
	padding: 20px;
	box-sizing: border-box;
}
#contato {
	width: 100%;
	color: white;
	background-color: green;
}
form {
	margin: 0 auto;
	width: 300px;
}
input,
textarea {
	width: 100%;
	border-radius: 5px;
	resize: none;
}
button {
}
footer {
	text-align: center;
}
@media (max-width: 375px) {
	.exp1 div,
	article {
		display: inline-block;
		width: 100%;
	}
	.exp2 div,
	article {
		display: inline-block;
		width: 100%;
	}
	.exp2 {
		display: flex;
		flex-direction: column-reverse;
	}
}
